* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'product sans', helvetica, 'times new roman';
}

li{
    list-style-type: none;
    text-decoration: none;
    display: inline;
}

img{
    display: block;
    margin: auto;
    padding: 60px;
}


form{
    text-align: center;
}

.top-left, 
.top-right, 
.bottom-left, 
.bottom-right{
    display: inline-block;
}

footer{
    background-color: #f2f2f2;
}

.top-left, 
.bottom-left{
    float: left;
}

.top-right, 
.bottom-right{
    float: right;
}

footer{
    margin-top: 230px;
}

main{
    position: relative;
    top: 100px;
}

#search{
    border-radius: 50px;
    width: 500px;
    height: 40px;
    border: 1px solid lightgrey;
    padding: 22px 40px;
}

.button-container{
    padding: 30px;
}

button{
    margin: 5px;
    padding: 10px 10px;
    font-size: 12px;
    border: 1px solid ghostwhite;
    border-radius: 5px;
    background-color: ghostwhite;
}

button:hover{
    border: 2px solid lightgrey;
}

nav{
    padding: 20px;
}

li{
    padding: 15px;
}

a{
    text-decoration: none;
    color: #222;
}

a:hover{
    text-decoration: underline;
}

img:hover{
    cursor: pointer;
}